// TRAVEL COMPONENT

@import 'variables';
@import 'mixins';

.travel-component {
  .travel-headline {
    text-align: center;
    font-size: $font-size * 2.5;
    font-weight: 300;
    margin-bottom: $margin;
  }

  .travel-departure {
    @include center();
    font-size: $font-size * 1.5;
    font-weight: 300;
    margin-bottom: $margin / 2;

    .travel-details {
      margin-right: $margin * 2;
      &:last-child {
        margin-right: 0;
      }
    }

    .travel-start {
      width: 70px;
    }

    .travel-icon {
      height: 100%;
      margin-right: $margin;
      @include center();

      svg {
        fill: $primary;
        width: 30px;
        height: auto;
      }
    }
  }
}
